{{#if isEditing }}
  <div class="col-md-4">
    <h2>Edit Post</h2>

    <form {{action 'save' on="submit"}}>
      <dl>
        <dt>Status:<br /> {{textarea value=model.status cols="40" rows="6"}}</dt>
      </dl>
      <div class="row">
        <button type="submit" class="btn btn-primary">Done</button>
      </div>
    </form>

    <button type="delete" class="btn btn-primary" {{action 'del' on='click'}}>Destroy</button>
  </div>
{{/if}}
<div class="col-md-4">
  <h3>{{showdown-addon model.status}}</h3>
  <h5>-{{model.author}}</h5>
  <h5>{{format-date model.date}}</h5>
  <form {{action 'edit' on="click"}}>
    {{#if session.authed}}
    <button type="submit" class="bt btn-primary">Edit</button>
    {{/if}}
  </form>
</div>
